@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

* {
  text-align: center;
}

.code {
  display: none;
}

#score {
  color: white;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
} 

.container {
  max-width: 600px;
}

.section {
  background-image: url('https://princeofpeacebeulah.org/wp-content/uploads/2016/04/Wood_Background.png');
}

.qwrapper {
  margin: 50px;
  max-width: 600px;
  padding: 20px; 
  border-radius: 50px;
  background-image: url('https://dbdzm869oupei.cloudfront.net/img/posavasos/preview/48323.png');
  background-position: center;
  background-repeat: no-repeat;
}

button {
  margin: 20px;
  min-width: 200px;
  max-width: 500px;
  overflow-wrap: break-word;
}

.hero {
  background-color: black;
  align-content: center;
}

.hero-body {
  background-image: url('https://activecollab.com/upload/blog/301/cover.png');
  background-position: center;
  // background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  align-content: center;

  

  p {
    color: #ffe6a3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

}