@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

* {
  text-align: center;
}

.code {
  display: none;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
} 

.container {
  max-width: 650px;
}

button {
  margin: 20px;
  min-width: 200px;
  max-width: 250px;
  overflow-wrap: break-word;
}
